<app-navbar></app-navbar>
<div class="aaa">
            <div class="bbb">

                <p class="text1"> Coding question</p>


                <mat-accordion class="expansion-panel">
                
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>

                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>

                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>

                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>
                    
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>

                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Subarray with given sum
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Given an unsorted array A of size N that contains only non-negative integers, find a continuous sub-array which adds to a given number S.
                            In case of multiple subarrays, return the subarray which comes first on moving from left to right.
                    </p>
                    <a routerLink="/codeeditor" routerLinkActive="active"><button class="button">Code</button></a>

                    </mat-expansion-panel>
                </mat-accordion>
                </div>

                <div class="ccc">
 
                    <div class="col12">
                        <h4>Challanges</h4>
                        <div class="a">
                            <div class="col121">
                                <div>Multiplication of 2 Strings</div>
                                <div class="col122">
                                    <div><button class="Accept-button">Accept</button></div>
                                    <div><button  class="reject-button">Reject</button></div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="a">
                            <div class="col121">
                                <div>Longest palindrome in String</div>
                                <div class="col122">
                                    <div><button class="Accept-button">Accept</button></div>
                                    <div><button  class="reject-button">Reject</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="a">
                            <div class="col121">
                                <div>Median of an array</div>
                                <div class="col122">
                                    <div><button class="Accept-button">Accept</button></div>
                                    <div><button  class="reject-button">Reject</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="a">
                            <div class="col121">
                                <div>3 Sum</div>
                                <div class="col122">
                                    <div><button class="Accept-button">Accept</button></div>
                                    <div><button  class="reject-button">Reject</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="a">
                            <div class="col121">
                                <div>Matrix Multiplication</div>
                                <div class="col122">
                                    <div><button class="Accept-button">Accept</button></div>
                                    <div><button  class="reject-button">Reject</button></div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
</div>