<!-- <div class="topnav">
    <img src="../../assets/images/Logo.png">
    <a routerLink="/profile" routerLinkActive="active" class="split"><button class="profile-button">Profile</button></a>
    <a routerLink="/challanges" routerLinkActive="active" class="split">Challanges</a>
    <a routerLink="/code" routerLinkActive="active" class="split">Code</a>
    <a routerLink="/dashboard" routerLinkActive="active" class="split">Leaderboard</a>
  </div> -->

  <nav class="navbarContainer">
    <div class="logo-brand">
      <img class="logo" src="../../assets/images/Logo.png">
      <div class="brand">CCC</div>
    </div>
    <div class="navs">
      <div class="navlinks" routerLink="/dashboard">Dashboard</div>
      <div class="navlinks" routerLink="/challanges">Challenges</div>
      <div class="navlinks" routerLink="/login">Logout</div>

      <!-- <div class="navlinks" routerLink="/code">Code</div> -->
      <div class="profile" routerLink="/user-profile" >Profile</div>
    </div>
  </nav>
